@font-face {
  font-family: "futura";
  src: url("./Futura-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #000;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Only horizontal scroll ko band kar */
  overflow-y: visible; /* Vertical overflow ko visible rehne de */
}

.main-page {
  min-height: 100vh;
  width: 100%;
  padding: 0 1vw;
  padding-top: 18vh;
  background-color: #fff;
}

.main-page .cover {
  overflow: hidden;
  height: auto;
  display: flex;
  gap: 6vw;
}

.main-page h1 {
  font-size: 16.5vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 1;
  letter-spacing: -0.9vw;
}

.img-container {
  height: 100vh;
  width: 100%;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-wrapper {
  padding: 1vw;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.product {
  height: 100vh;
  width: 33%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  scale: 1;
}

.product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dets {
  height: 50px;
  width: 50%;
  background-color: blanchedalmond;
  position: absolute;
  border-radius: 50vw;
}

.shop-section {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 1vh;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2vh;
  width: 100%;
}

.heading {
  width: 35vw;
}

.heading h1 {
  font-size: 4.5vh;
  font-family: futura;
  text-transform: uppercase;
}

.para {
  width: 20vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.para p {
  font-size: 1.4vh;
  font-family: sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.para p a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.hover {
  background-color: #333;
  height: 2px;
  width: 100%;
  margin-top: 1vh;
  display: inline-block;
  cursor: pointer;
}

.needHover {
  height: 3vh;
}

.img-sec {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  width: 80vw;
  margin-top: 6vh;
  align-items: center;
  justify-items: center;
  position: relative;
}

.img {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.img p,
span {
  color: #111;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
}

img {
  height: 50rem;
  width: 50rem;
}

/* .circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%); 
  scale: 0;
  opacity: 0;
  z-index: 1;
  } */

.circle {
  height: 30vh;
  width: 30vh;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none; /* So it doesn't block mouse events */
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  scale: 0; /* Start hidden */
  box-shadow: inset 0 0 32px #ddd;
}

.move {
  animation: move 0.8s ease-in-out;
}

.cover {
  height: 100vh;
  background-color: #fff;
}

@keyframes move {
  0% {
    width: 0;
    transform: translateX(0);
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    transform: translateX(10rem);
  }
}

@media (max-width: 1024px) {
  .img-container {
    height: 60vh;
  }
}

@media (max-width: 900px) {
  .main-page h1 {
    font-size: 16vw;
  }
  .product-wrapper {
    flex-direction: column;
    gap: 1vw;
    height: 100vh;
    margin-top: 20vw;
  }
  .product {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product {
    height: 33vh;
  }
  .main-page {
    min-height: 90vh;
  }
  .img-container {
    height: 50vh;
  }
}
