@font-face {
  font-family: "futura";
  src: url("./Futura-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #000;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Only horizontal scroll ko band kar */
  overflow-y: visible; /* Vertical overflow ko visible rehne de */
  position: relative;
}

.nav-img {
  display: flex;
  flex-direction: column;
}

.img2 {
  display: none;
}

.main-page {
  min-height: 100vh;
  width: 100%;
  padding: 0 1vw;
  padding-top: 10vh;
  background-color: #fff;
}

.main-page .cover {
  overflow: hidden;
  height: auto;
  display: flex;
  gap: 6vw;
}

.main-page h1 {
  font-size: 16.5vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 1;
  letter-spacing: -0.9vw;
}

.img-container {
  height: 100vh;
  width: 100%;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-wrapper {
  padding: 1vw;
  height: 95vh;
  margin-top: 2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden !important;
}

.product {
  height: 100vh;
  width: 33%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 1;
  scale: 1;
}

.product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dets {
  height: 50px;
  width: 50%;
  background-color: blanchedalmond;
  position: absolute;
  border-radius: 50vw;
}

.shop-section {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vh;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  position: relative;
  height: 8vh;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  list-style-type: none;
  justify-content: space-around;
  position: sticky;
  top: 5%;
  right: 2%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem 0 0 0;
  border-radius: 20rem;
}

nav ul li {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.2vh;
  text-transform: uppercase;
  font-family: sans-serif;
}

nav ul li span {
  display: none !important;
  background-color: #999 !important;
}

nav ul li:hover .hover {
  display: flex !important;
}

nav ul li:hover {
  color: #888;
}

.heading {
  width: 35vw;
}

.heading h1 {
  font-size: 4.5vh;
  font-family: futura;
  text-transform: uppercase;
}

.para {
  width: 20vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.para p {
  font-size: 1.4vh;
  font-family: sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.para p a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.hover {
  background-color: #333;
  height: 2px;
  width: 100%;
  margin-top: 0.5vh;
  display: inline-block;
  cursor: pointer;
}

.needHover {
  height: 3vh;
}

.img-sec {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  width: 80vw;
  margin-top: 6vh;
  align-items: center;
  justify-items: center;
  position: relative;
}

.img {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product img {
  width: 100%;
  height: 100%;
}

.img p,
span {
  color: #111;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
}

.img img {
  height: 50rem;
  width: 50rem;
}

.circle {
  height: 30vh;
  width: 30vh;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  scale: 0;
  box-shadow: inset 0 0 32px #ddd;
  z-index: 99;
}

.needHover:hover .hover {
  animation: move 0.8s ease-in-out;
}

.cover {
  height: 100vh;
  background-color: #fff;
}

.bottomBar {
  height: 25vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to top, #ffffffda, #ffffff00);
  z-index: 9999;
  pointer-events: none;
}

.thank-you {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4vh;
}

.thank-you h6 {
  font-family: futura;
  text-transform: uppercase;
  font-size: 4vh;
  margin-bottom: 1vh;
}

.thank-you h1 {
  text-align: center;
  font-family: futura;
  text-transform: uppercase;
  font-size: 6vh;
  width: 80%;
  margin-top: 6vh;
}

.thank-you button {
  background-color: #000;
  color: #fff;
  padding: 2vh 6vh;
  text-transform: uppercase;
  margin-top: 6vh;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 12vh;
}

.thank-you .impact {
  font-size: 2vh;
  color: #000;
  font-weight: 800;
  margin: 4vh 0;
}

.upper-footer {
  display: flex;
  padding: 2vh;
  justify-content: space-between;
}

.img-box {
  display: flex;
  gap: 2vh;
}

.footer-img-w {
  overflow: hidden;
}

.text-box h1 {
  font-size: 4vh;
  text-transform: uppercase;
  font-family: futura;
}

.hieght {
  justify-content: flex-start !important;
}

.hieght h1 {
  font-family: futura;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 4vh 0 0 0;
  position: relative;
  height: 50vh;
}

.ul {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 12vh;
}

.ul ul li {
  list-style-type: none;
  font-size: 1.5vh;
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
  color: #777;
  padding: 0.3vh;
}

.ul ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ul ul div {
  font-size: 2vh;
  font-family: futura;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.footer-wave {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  color: #000;
  text-transform: capitalize;
}

.big-icon {
  font-size: 100vh;
  font-weight: 900;
  position: absolute;
  text-align: center;
  top: -80%;
  right: -5%;
  z-index: -1;
  opacity: 0.05;
}

.position {
  top: -60%;
  left: -90%;
}

.animation {
  color: #eee !important;
  -webkit-text-stroke: 4px #000;
}

.animation2 {
  color: #eee;
  -webkit-text-stroke: 1px #000;
}

@keyframes move {
  0% {
    width: 0;
    transform: translateX(0);
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    transform: translateX(10rem);
  }
}

@media (max-width: 1024px) {
  .img-container {
    height: 60vh;
  }
}

@media (max-width: 900px) {
  .main-page h1 {
    font-size: 16vw;
  }
  .product-wrapper {
    flex-direction: column;
    gap: 1vw;
    height: 100vh;
    margin-top: 20vw;
  }
  .product {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .product {
    height: 33vh;
  }
  .main-page {
    min-height: 90vh;
  }
  .img-container {
    height: 50vh;
  }
}
